.mbtnavbar {
    background: #232323;
    width: 100%;
    color: #FFF;
    margin: 20px 0;
    padding: 0;
    position: relative;
    border-top:0px solid #960100;
    height:35px;
}

#mbtnav {
	color: #000000;
    margin: 0;
    padding: 0;
}

#mbtnav ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mbtnav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mbtnav li a, 
#mbtnav li a:link, 
#mbtnav li a:visited {
	color: #FFF;
    display: block;
	font:bold 12px Helvetica, sans-serif;
	margin: 0;
    padding: 9px 12px 11px 12px;
	text-decoration: none;
	border-right:0px solid #D4D4D4;
}
#mbtnav li a:hover, 
#mbtnav li a:active {
    color: #FFF;
    display: block;
    text-decoration: none;
	margin: 0;
    padding: 9px 12px 11px 12px;
}

#mbtnav li {
    float: left;
    padding: 0;
}

#mbtnav li ul {
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 160px;
    margin: 0;
    padding: 0;
}

#mbtnav li ul a {
    width: 140px;
}

#mbtnav li ul ul {
    margin: -25px 0 0 161px;
}

#mbtnav li:hover ul ul, 
#mbtnav li:hover ul ul ul, 
#mbtnav li.sfhover ul ul, 
#mbtnav li.sfhover ul ul ul {
    left: -999em;
}

#mbtnav li:hover ul, 
#mbtnav li li:hover ul, 
#mbtnav li li li:hover ul, 
#mbtnav li.sfhover ul, 
#mbtnav li li.sfhover ul, 
#mbtnav li li li.sfhover ul {
    left: auto;
}

#mbtnav li:hover, 
#mbtnav li.sfhover {
    position: static;
}

#mbtnav li li a, 
#mbtnav li li a:link, 
#mbtnav li li a:visited {
    background: #232323;
    width: 150px;
    color:#FFF;
    display: block;
    font:normal 12px Helvetica, sans-serif;
    margin: 0;
    padding: 9px 12px 10px 12px;
	text-decoration: none;
	z-index:9999;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#mbtnav li li a:hover, 
#mbtnav li li a:active,
#mbtnav li li li a:hover, 
#mbtnav li li li a:active {
    background: #232323;
    color: #00688B;
    display: block;
}

#mbtnav li li li a, 
#mbtnav li li li a:link, 
#mbtnav li li li a:visited {

    background: #232323;
    width: 120px;
    color: #FFF;
    display: block;
    font:normal 12px Helvetica, sans-serif;
    padding: 9px 12px 10px 12px;
	text-decoration: none;
	z-index:9999;
	border:1px solid #ddd;
    margin: 0px 0 0 14px;
}

.emptybar{
	background: #EEEEEE;
	margin: 0;
    padding: 0;
    padding-top: 5px;
    height:30px;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    color: #202020;
}